:host {
  --content-padding: 10px;
}

header {
  display: block;
  height: 60px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}

header.brand-name {
  font-size: 26pt;
  font-weight: bold;
  color: var(--primary-color);
}

.content {
  padding: var(--content-padding);
}

section.cart-indicator {
  float: right;
  margin: 25px;
}