.results {
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 200px));
    margin-top: 50px;
    justify-content: space-around;
}

input[type="text"] {
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
}

button.reset {
    margin-left: 5px;
}

@media (min-width: 500px) and (max-width: 768px) {
    .results {
        grid-template-columns: repeat(2, 1fr);
    }

    input[type="text"] {
        width: 70%;
    }
}

@media (max-width: 200px) {
    .results {
        grid-template-columns: 1fr;
    }
}