tr.mat-mdc-footer-row td {
    border-top: 1px solid #000000;
    font-weight: bold;
}

.mat-form-field {
    margin-right: 15px;
}

.checkoutForm {
    width: 100%;
}

.checkoutForm mat-form-field {
    margin-right: 5px;
}